@import '../../../client/scss/variables';

.app {
    background-color: $gunmetal;
    // text-align: center;
}

.nav-bar {
    margin: 0 60px 40px;
    padding-top: 20px;
    .core-link:not(:last-child) {
        margin-right: 40px;
    }
}


.body-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 10vw;
}