@import '../../../../client/scss/variables';

.about-page {
    width: 80%;

    @include desktop {
        padding-top: 10vh;
    }

    .core-paragraph {
        font-size: $fontSize_small;

        @include desktop {
            font-size: $fontSize_base;
        }
    }
}