$fontSize_small: 1.5rem;

$fontSize_base: 2rem;
$fontSize_large: 3rem;

// Background
$gunmetal: #282C34;


$pale-silver: #C9C5BA;
$morning-blue: #97B1A6;
$light-slate-gray: #698996;
$ming: #407076;

$primaryTextColor: $pale-silver;
$primaryLinkColor: $morning-blue;


@mixin phone {
    @media only print, screen and (min-width : 375px) {
        @content;
    }
}

@mixin desktop {
    @media only print, screen and (min-width : 1024px) {
        @content;
    }
}