$fontSize_base: 2rem;

// Background
$gunmetal: #282C34;


$pale-silver: #C9C5BA;
$morning-blue: #97B1A6;
$light-slate-gray: #698996;
$ming: #407076;

$primaryTextColor: $pale-silver;
$primaryLinkColor: $morning-blue;
