@import '../../../../client/scss/variables';

.core-text {
    display: inline;

    &.display-regular {
        color: white;
    }

    &.size-regular {
        font-size: $fontSize_base;
    }

    &.size-small {
        font-size: $fontSize_small;
    }
}