@import '../../../../client/scss/variables';

.core-link {
    display: inline;
    color: $primaryLinkColor;
    text-decoration: none;
    font-size: $fontSize_base;

    &:hover {
        text-decoration: underline;
    }
}